<html>
    <head>
        <title> </title>
        <body>
            <h1>order placed successfully</h1>
            {% for each_product in products %}
                <img src = {{ each_product['image']}} height="100" width="100"><br align = "left">
                title : {{ each_product['title']}}<br>
                author : {{ each_product['author']}}<br>
                price : {{ each_product['price']}}<br>
                quantity : {{ each_product['quantity']}}<br>
            {% endfor %}
            <h2>total price : {{ price['total-price'] }}</h2>
            <h2>order id : {{ user[1]}}</h2>
            <h2>address : {{ user[2]}}</h2>
        </body>
    </head>
</html>